[project]
name = "s0"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "black>=25.1.0",
    "mypy>=1.16.1",
    "pytest>=8.4.1",
]
